<html>
  <head>
  	<title>Guess the number!</title>
  <style>
  	body
  	{
  		text-align: center;

  	}
  	#p1
  	{
  		margin-bottom: 10%;
  	}
  </style>
  </head>

  <body>
    
    <p id = "p1">
    	<%= message %>
    </p>
    <form>
		<input type='text' name='guess' autocomplete="off" />
  		<input type='submit' value='Guess!' />
	</form>
  </body>
</html>
